.TopStrip {
    width: 100%;
    min-height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #fff;
    border-bottom: 1px solid #f4f5f7;

    padding: 8px;
    box-sizing: border-box;
    position: relative;
}

.TopStrip > div {
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EarthIcon {
    width: 16px;
    height: 16px;
    padding-right: 10px;
}

.Message {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #172b4d;
}

.KnowMore {
    font-size: 14px;
    margin: 0;
    color: #6b778c;
    font-weight: 400;
    text-decoration: underline;
    margin-left: 10px;
}

.TopStrip > span {
    color: #42526e;
    cursor: pointer;

    position: absolute;
    right: 0;
    padding: 8px;
}

.TopStrip > span:hover {
    color: #091e42;
}

.BoardTitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    padding: 0 12px;
    color: white;
    margin: 0;
}

.ListWrapper {
    width: 100%;
    height: calc(100vh - 142px);
    overflow-y: hidden;
    overflow-x: auto;

    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.ListWrapper::-webkit-scrollbar {
    width: 1em;
    height: 12px;
}
   
.ListWrapper::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.15);
}
   
.ListWrapper::-webkit-scrollbar-thumb {
    /* background-color: #BFC4CE; */
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}

.MainContainer {
    padding: 4px;
}

.TitleWrapper {
    display: flex;
    align-items: center;
    padding: 4px 0 8px;
}

.StarWrapper {
    width: 32px;
    height: 32px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
}

.StarWrapper > span {
    padding: 8px 7px;
    font-size: 18px;
}

.StarWrapper > span:hover {
    color: #f2d600;
    transform: scale(1.2);
}

.Separator {
    width: 1px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 8px;
}